<button class="button--action {{modifier_class}}" type="button"
    data-toggle="tooltip" data-placement="top" title="Nota informativa sobre la acción">
  <i class="icon"></i>
  Action
</button>
<a class="button--action {{modifier_class}}" href="#0" role="button"
    data-toggle="tooltip" data-placement="top" title="Nota informativa sobre la acción">
  <i class="icon"></i>
  Action
</a>
