<div class="img-container {{modifier_class}}">
  {{!-- Image here is for displaying purposes. --}}
  <img itemprop="image" src="http://lorempixel.com/800/600/sports/"
    alt="Lorem ipsum dolor sit amet, consectetur adipiscing elit." />
</div>
