<a href="#0" class="img-container {{modifier_class}}">
  <img itemprop="image" src="http://placehold.it/350x150"
    alt="Lorem ipsum dolor sit amet, consectetur adipiscing elit." />
</a>
<div class="img-container {{modifier_class}}">
  <img itemprop="image" src="http://placehold.it/350x150"
    alt="Lorem ipsum dolor sit amet, consectetur adipiscing elit." />
</div>
