// Base variables
@import "../../variables/variables";
@import "../../variables/styleguide-variables";

.styleguide__block {
  margin-bottom: $baseline-grid * 4;
  margin-top: $baseline-grid * 2;
  position: relative;

  pre {
    font-size: 1rem;
  }
}

.styleguide__modifiers {
  color: $gray-light;
}

.styleguide__display {
  > h3 {
    margin: 30px 0;
  }
}

.styleguide__source,
.styleguide__description {
  > h3 {
    color: $gray-dark;
    font-weight: 700;
    margin: $baseline-grid * 3 0 $baseline-grid;
  }
}

.styleguide__description {
  > h2 {
    color: $gray-dark;
    font-size: $font-size-lg;
    font-weight: 700;
    margin-bottom: $baseline-grid;
  }
}

pre > code {
  background-color: $nav-bg;
  border-radius: $border-radius-base;
  display: block;
  padding: $baseline-grid / 2;
}
