// Base variables
@import "../../variables/variables";
@import "../../variables/styleguide-variables";

.styleguide__block {
  margin-bottom: 4rem;
  margin-top: 2rem;
  position: relative;

  pre {
    font-size: 1rem;
  }
}

.styleguide__modifiers {
  background: $nav-bg;
  color: $brand-primary;
  display: inline-block;
  font-family: monospace, monospace;
  font-size: 1em;
  font-weight: 400;
  margin-left: .25rem;
  margin-right: .25rem;
  padding: 0 .25rem;
}

.styleguide__display {
  border-bottom: 1px solid $gray-light;
  margin-bottom: 2rem;
  padding-bottom: 1rem;
}

.styleguide__source,
.styleguide__description,
.styleguide__display {
  > h3 {
    color: $gray-dark;
    font-weight: 700;
    margin: 2.5rem 0 1rem;
  }
}

.styleguide__description {
  > h2 {
    color: $gray-dark;
    font-size: $font-size-lg;
    font-weight: 700;
    margin-bottom: 1rem;
    text-transform: uppercase;
  }
}

pre > code,
pre > .hljs {
  background-color: $nav-bg;
  border-radius: $border-radius-base;
  display: block;
  margin-bottom: 1rem;
  padding: .5rem;
}

.styleguide__description {
  ul,
  p {
    line-height: 1.5rem;

    code {
      background: $nav-bg;
      color: $brand-primary;
      display: inline-block;
      margin-left: .25rem;
      margin-right: .25rem;
      padding: 0 .25rem;
    }
  }

  ul {
    margin-bottom: 2rem;
  }

  p {
    line-height: 1.5rem;
    margin-bottom: 1rem;
  }

  ul li {
    margin-bottom: .5rem;
    padding-left: 1rem;
    position: relative;

    &::before {
      color: $gray-darker;
      content: "•";
      display: block;
      font-size: 1.5rem;
      left: 0;
      position: absolute;
      top: 0;
    }
  }

  em {
    font-style: italic;
  }

  hr {
    border: 1px solid $gray-light;
    margin-bottom: 3rem;
  }

  blockquote {
    background-color: $nav-bg;
    border-left: 3px solid $gray-medium;
    margin-bottom: 2rem;
    padding: 1rem 1.5rem .5rem;

    h3 {
      color: $gray-dark;
      font-weight: 700;
      margin-bottom: .5rem;
    }

    p {
      line-height: 1.25rem;
    }
  }
}
