//
// Tags
// --------------------------------------------------

.tag {
  @include ellipsis($tag-width);
  background-color: $tag-bg;
  border: 1px solid $tag-border;
  font-size: $tag-font-size;
  font-weight: $tag-font-weight;
  // Get height from padding and line height values
  height: $tag-line-height;
  line-height: $tag-line-height;
  padding: $tag-padding;
  text-align: center;
  text-transform: uppercase;
  vertical-align: middle;

  &,
  &:hover {
    color: $tag-color;
  }

  // Empty badges collapse automatically
  &:empty {
    display: none;
  }

  // Add horizontal spacing for adjacent elements
  + #{&} {
    margin-left: $spacer-sm;
  }

  // Define styles for images contained within tag
  > img {
    display: inline-block;
    max-height: $tag-img-height;
    vertical-align: middle;
  }
}
