# EditorConfig para GarbaIU.

root = true;

[*]
indent_style = space
indent_size = 2
end_of_line = lf
charset = utf-8
insert_final_newline = true
trim_trailing_whitespace = true

# JS
[*.js]



# HTML
[*.{html,hbs}]
indent_size = 4

# Markdown
[.md]
insert_final_newline = false
trim_trailing_whitespace = false

# Circle CI
[.circle.yml]
indent_size = 4

