{
  "extends": [
    "stylelint-config-sass-guidelines"
  ],
  "rules": {
    "string-quotes": double,
    "color-hex-case": upper,
    "max-line-length": 80,
    "length-zero-no-unit": true,
    "stylelint-disable-reason": always-after,
    "number-leading-zero": never,
    "selector-class-pattern": [
      "^[a-z0-9\\-\\_]+$",
      "resolveNestedSelectors": true,
      {
        "message": "Selector should be written in lowercase with hyphens or underscores. (selector-class-pattern)"
      }
    ],
  }
}
