@charset "UTF-8";

// ** Variables
// --------------------------------------------------

/* stylelint-disable scss/dollar-variable-colon-space-after */
/* Rule is disabled here for better legibility */


/// Global variables to enable or disable vendor prefixes
$prefix-for-webkit:          true !default;
$prefix-for-mozilla:         true !default;
$prefix-for-microsoft:       true !default;
$prefix-for-opera:           true !default;
$prefix-for-spec:            true !default;

// ** The Baseline grid is the basic building block of the vertical rhythm.
$baseline-grid:         14px;

// A second definition of this value overrides normalize definition
// (factory default is 24px)
$base-line-height:      14px;

@import "../helpers/helpers";


// ** Color Palette
// --------------------------------------------------
//
// Brand color palette
$brand-corporate:        #D1030F !default;
$brand-primary:          #0084E0 !default;
$brand-secondary:        #6B6B6B !default;
$brand-revenue:          #49C237 !default;

//## Gray and brand colors for use across Framework.
$gray-base:              #000 !default;
$gray-dark:              $brand-secondary !default;
$gray-medium:            #C4C4C4 !default;
$gray-light:             #E2E2E2 !default;
$gray-lighter:           #F6F6F6 !default;

//## Social brand icons
$brand-facebook:         #4957B3 !default;

//## State modifiers
$modifier-operation:            lighten !default;
$modifier-hover-value:          10% !default;
$modifier-focus-value:          10% !default;


//** Background color for `<body>`.
$body-bg:               $gray-lighter !default;

//** Background color for nav.
$nav-bg:                #FFF !default;

//** Global text color on `<body>`.
$text-color:            $gray-dark !default;
//** Global text color on `<body>`.
$text-inverse:          #FFF !default;

//** Global textual link color.
$link-color:            $brand-primary !default;
//** Link hover color set via `darken()` function.
$link-hover-color:      darken($link-color, 15%) !default;
//** Link hover decoration.
$link-hover-decoration: underline !default;


// Grid breakpoints
//
// Define the minimum dimensions at which your layout will change,
// adapting to different screen sizes, for use in media queries.

//== Media queries breakpoints
//
//## Define the breakpoints at which your layout will change, adapting to
// different screen sizes.

// Extra small screen / phone
$screen-sm:                  px-to-rem(0);

// Small screen / tablet
$screen-md:                  px-to-rem(768px);
$screen-md-min:              $screen-md !default;

// Medium screen / desktop
$screen-lg:                  px-to-rem(1024px);
$screen-lg-min:              $screen-lg !default;

// Large screen / wide desktop
$screen-xl:                  px-to-rem(1366px);
$screen-xl-min:              $screen-xl !default;

// So media queries don't overlap when required, provide a maximum
$screen-sm-max:              ($screen-md-min - 1) !default;
$screen-md-max:              ($screen-lg-min - 1) !default;
$screen-lg-max:              ($screen-xl-min - 1) !default;


// Override default Bootstrap Grid variables

//** Padding between columns. Gets divided in half for the left and right.
$grid-gutter-width:         $baseline-grid * 2;

// Fonts
//
// Font, line-height, and color for body text, headings, and more.

$font-family-base: "Open Sans", -apple-system, sans-serif !default;

$font-size-base: 1rem !default;    // 14px
$font-size-lg:   px-to-rem(18px) !default; // 18px
$font-size-sm:   px-to-rem(12px) !default; // 12px


// Define common padding and border radius sizes and more.
$border-radius-base:          3px;

// Define defautl spinner definitions
$spinner-opacity:                .6 !default;


// Z-index master list
//
// Warning: Avoid customizing these values. They're used for a bird's eye
// view of components dependent on the z-axis and are designed to all
// work together.

$zindex-fixed-button:       1000 !default;
$zindex-navbar:             1030 !default;

// Buttons
//
// For each button, define text color and background and border color.

$btn-height-base:                    $baseline-grid * 3 !default;
$btn-font-weight:                    700 !default;
$btn-text-transform:                 uppercase !default;
$btn-base-color:                     $text-inverse !default;
$btn-base-padding-y:                 .75rem !default;
$btn-base-padding-x:                 1.5rem !default;
$btn-large-padding-y:                1rem !default;
$btn-large-padding-x:                1.75rem !default;
$btn-small-padding-y:                .5rem !default;
$btn-small-padding-x:                1.25rem !default;
$btn-transition-timing:              .12s !default;
$btn-shadow-width:                   px-to-rem(2px) !default;
$btn-box-shadow-value:               0 $btn-shadow-width 0 0 !default;

// Button spinner definitions
$btn-spinner-color-active:           $gray-lighter !default;
$btn-spinner-color-inactive:         $gray-medium !default;
$btn-spinner-border-width:           px-to-rem(3px) !default;
$btn-spinner-base-size:              1.75rem !default;
$btn-spinner-lg-size:                2rem !default;
$btn-spinner-sm-size:                1rem !default;
$btn-spinner-base-spacing:           $btn-spinner-base-size + $btn-base-padding-x + .5rem !default;
$btn-spinner-lg-spacing:             $btn-spinner-lg-size + $btn-large-padding-x + .5rem !default;
$btn-spinner-sm-spacing:             $btn-spinner-sm-size + $btn-small-padding-x + .5rem !default;

// Color definitions
$btn-main-color:                     $btn-base-color !default;
$btn-main-bg:                        $brand-revenue !default;

$btn-primary-color:                  $btn-base-color !default;
$btn-primary-bg:                     $brand-primary !default;

$btn-secondary-color:                $btn-base-color !default;
$btn-secondary-bg:                   $brand-secondary !default;

$btn-link-color:                     $brand-primary !default;
$btn-link-bg:                        transparent !default;

$btn-facebook-color:                 $btn-base-color !default;
$btn-facebook-bg:                    $brand-facebook !default;

$btn-disabled-color:                 #9E9E9E !default;
$btn-disabled-bg:                    $gray-light !default;


/* stylelint-enable scss/dollar-variable-colon-space-after */
