.button {
  border: 0;
  border-radius: 3px;
  display: inline-block;
  font-weight: 700;
  outline: none; // Make sure to add focus styles below
  transition-duration: .3s;
  transition-property: background;
  transition-timing-function: cubic-bezier(.175, .885, .32, .275);
  vertical-align: middle;

  // Size modifiers


  // Primary button

}
