<div class="checkbox {{modifier_class}}">
  <label class="checkbox-box">
    <input type="checkbox" id="inlineCheckbox1" value="option1">
    Sed volutpat dignissim
  </label>
  <label class="checkbox-box">
    <input type="checkbox" id="inlineCheckbox2" value="option2">
    Nullam pellentesque
  </label>
  <label class="checkbox-box">
    <input type="checkbox" id="inlineCheckbox3" value="option3">
    Mauris pulvinar aliquet
  </label>
  <p class="block-validation--note">
    Nulla vestibulum nunc fringilla, bibendum arcu id, imperdiet magna.
  </p>
</div>

<div class="radio {{modifier_class}}">
  <label class="radio-box">
    <input type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1">
    Morbi pulvinar est arcu
  </label>
  <label class="radio-box">
    <input type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2">
    Aenean vel aliquet
  </label>
  <label class="radio-box">
    <input type="radio" name="inlineRadioOptions" id="inlineRadio3" value="option3">
    Phasellus mi justo
  </label>
  <p class="block-validation--note">
    Nulla vestibulum nunc fringilla, bibendum arcu id, imperdiet magna.
  </p>
</div>
