<div class="radio {{modifier_class}}">
  <label class="radio-box" data-toggle="tooltip" data-placement="bottom"
      title="Morbi pulvinar est arcu pulvinar est arcu">
    <input type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1">
    <img src="http://tarjetasdecredito.org.mx/wp-content/uploads/2015/04/logotipo-visa-300x190.png"
      alt="Morbi pulvinar est arcu pulvinar est arcu">
  </label>
  <label class="radio-box" data-toggle="tooltip" data-placement="bottom"
      title="Aenean vel aliquet">
    <input type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2">
    <img src="http://amdocspartnerscatalog.com/wp-content/uploads/2017/04/Mastercard.png"
      alt="Aenean vel aliquet">
  </label>
  <label class="radio-box" data-toggle="tooltip" data-placement="bottom"
      title="Phasellus mi justo">
    <input type="radio" name="inlineRadioOptions" id="inlineRadio3" value="option3">
    <img src="http://static.hotukdeals.com/images/threads/high-res/1925826_1.jpg"
      alt="Phasellus mi justo">
  </label>
  <label class="radio-box" data-toggle="tooltip" data-placement="bottom"
      title="Pulvinar est arcu">
    <input type="radio" name="inlineRadioOptions" id="inlineRadio3" value="option3">
    <img src="https://infonegocios.info/uploads/LogoInstitucional-naranja.jpg"
      alt="Pulvinar est arcu">
  </label>
  <p class="block-validation--note">
    Nulla vestibulum nunc fringilla, bibendum arcu id, imperdiet magna.
  </p>
</div>
