<div class="checkbox {{modifier_class}}">
  <label>
    <input type="checkbox" id="" value="">
    Praesent sit amet egestas massa, pretium maximus nulla.
  </label>
  <label>
    <input type="checkbox" id="" value="">
    Vivamus lacinia nulla nibh, sed rhoncus ex euismod ut. Fusce fermentum eros urna, sed vestibulum ligula tempor non. Fusce interdum molestie augue sit amet porta.
  </label>
  <label>
    <input type="checkbox" id="" value="">
    Donec dapibus nunc erat, non imperdiet risus tincidunt ac.
  </label>

  {{!-- Aunque esté presente, el mensaje se muestra sólo cuando el contenedor padre
        recibe una de las clases de validación. De lo contrario permanece oculto. --}}
  <p class="form-block__note">
    Nulla vestibulum nunc fringilla, bibendum arcu id, imperdiet magna.
  </p>
</div>

<div class="radio {{modifier_class}}">
  <label>
    <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked>
    Vestibulum sagittis placerat est et pellentesque.
  </label>
  <label>
    <input type="radio" name="optionsRadios" id="optionsRadios2" value="option2">
    Morbi iaculis vel leo id tempor.
  </label>
  <label>
    <input type="radio" name="optionsRadios" id="optionsRadios3" value="option3">
    Duis quis magna semper, egestas mi euismod, dapibus ex.
  </label>

  {{!-- Aunque esté presente, el mensaje se muestra sólo cuando el contenedor padre
        recibe una de las clases de validación. De lo contrario permanece oculto. --}}
  <p class="form-block__note">
    Nulla vestibulum nunc fringilla, bibendum arcu id, imperdiet magna.
  </p>
</div>
