<div class="checkbox {{modifier_class}}">
  <label>
    <input type="checkbox" name="" id="" value="">
    Option one is this and that&mdash;be sure to include why it's great
  </label>
  <p class="block-validation--note">
    Nulla vestibulum nunc fringilla, bibendum arcu id, imperdiet magna.
  </p>
</div>

<div class="radio {{modifier_class}}">
  <label>
    <input type="radio" name="" id="" value="">
    Option one is this and that&mdash;be sure to include why it's great
  </label>
  <p class="block-validation--note">
    Nulla vestibulum nunc fringilla, bibendum arcu id, imperdiet magna.
  </p>
</div>
