<div class="form-block {{modifier_class}}">
  <div class="control-group">
    <span class="control-group__addon" id="basic-addon1">@</span>
    <input type="text" class="form-control" placeholder="Username" aria-describedby="basic-addon1">
  </div>

  {{!-- El mensaje se muestran sólo cuando el padre recibe una de las clases
        de validación, de lo contrario permanece oculto. --}}

  <p class="block-validation--note">
    Nulla vestibulum nunc fringilla, bibendum arcu id, imperdiet magna.
  </p>
</div>

<div class="form-block {{modifier_class}}">
  <div class="control-group">
    <span class="control-group__addon" id="basic-addon1">
      <span class="icon-calendar" data-toggle="tooltip" data-placement="top"
        title="Texto de ayuda para el input."></span>
    </span>
    <input type="text" class="form-control" placeholder="Username" aria-describedby="basic-addon1">
  </div>

  {{!-- El mensaje se muestran sólo cuando el padre recibe una de las clases
        de validación, de lo contrario permanece oculto. --}}

  <p class="block-validation--note">
    Nulla vestibulum nunc fringilla, bibendum arcu id, imperdiet magna.
  </p>
</div>

<div class="form-block {{modifier_class}}">
  <div class="control-group">
    <input type="text" class="form-control" placeholder="Recipient's username" aria-describedby="basic-addon2">
    <span class="control-group__addon" id="basic-addon2">@example.com</span>
  </div>


  {{!-- El mensaje se muestran sólo cuando el padre recibe una de las clases
        de validación, de lo contrario permanece oculto. --}}

  <p class="block-validation--note">
    Nulla vestibulum nunc fringilla, bibendum arcu id, imperdiet magna.
  </p>
</div>

<div class="form-block {{modifier_class}}">
  <label for="basic-url">Your vanity URL</label>
  <div class="control-group">
    <span class="control-group__addon" id="basic-addon3">https://example.com/users/</span>
    <input type="text" class="form-control" id="basic-url" aria-describedby="basic-addon3">
  </div>

  {{!-- El mensaje se muestran sólo cuando el padre recibe una de las clases
        de validación, de lo contrario permanece oculto. --}}

  <p class="block-validation--note">
    Nulla vestibulum nunc fringilla, bibendum arcu id, imperdiet magna.
  </p>
</div>
