<form class="form-horizontal" autocomplete="off">
  <div class="form-block">
    <label for="inputEmail3" class="col-md-2 control-label">Email</label>
    <div class="col-md-10">
      <input type="email" class="form-control" id="inputEmail3" placeholder="Email">
    </div>
  </div>
  <div class="form-block">
    <label for="inputPassword3" class="col-md-2 control-label control-label--sm">Password</label>
    <div class="col-md-10">
      <input type="password" class="form-control form-control--sm" id="inputPassword3" placeholder="Password">
    </div>
  </div>
  <div class="form-block">
    <div class="col-md-offset-2 col-md-10">
      <button type="submit" class="button button--primary">Sign in</button>
    </div>
  </div>
</form>
