<form>
  <div class="form-block">
    {{!-- Input básico de texto. --}}
    <input type="text" class="form-control {{modifier_class}}" placeholder="Text">
  </div>

  <div class="form-block">
    {{!-- Select --}}
    <select class="form-control {{modifier_class}}">
      <option value="volvo">Volvo</option>
      <option value="saab">Saab</option>
      <option value="mercedes">Mercedes</option>
      <option value="audi">Audi</option>
    </select>
  </div>

  <div class="form-block">
    {{!-- Textarea --}}
    <textarea class="form-control {{modifier_class}}" rows="3"></textarea>
  </div>
</form>
