<form>
  <div class="checkbox {{modifier_class}}">
    <label>
      <input type="checkbox" id="" value="">
      Praesent sit amet egestas massa, pretium maximus nulla.

      <span class="form-block__helper" data-toggle="tooltip" data-placement="bottom"
          title="Fusce ac luctus sem.">
        <span class="icon-question-mark-circle"></span>
      </span>
    </label>
    <label>
      <input type="checkbox" id="" value="">
      Vivamus lacinia nulla nibh, sed rhoncus ex euismod ut. Fusce fermentum eros urna, sed vestibulum ligula tempor non. Fusce interdum molestie augue sit amet porta.

      <span class="form-block__helper" data-toggle="tooltip" data-placement="bottom"
          title="Fusce ac luctus sem.">
        <span class="icon-question-mark-circle"></span>
      </span>
    </label>
    <label>
      <input type="checkbox" id="" value="">
      Donec dapibus nunc erat, non imperdiet risus tincidunt ac.

      <span class="form-block__helper" data-toggle="tooltip" data-placement="bottom"
          title="Fusce ac luctus sem.">
        <span class="icon-question-mark-circle"></span>
      </span>
    </label>
  </div>

  <div class="radio {{modifier_class}}">
    <label>
      <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked>
      Vestibulum sagittis placerat est et pellentesque.

      <span class="form-block__helper" data-toggle="tooltip" data-placement="bottom"
          title="Morbi iaculis vel leo id tempor.">
        <span class="icon-question-mark-circle"></span>
      </span>
    </label>
    <label>
      <input type="radio" name="optionsRadios" id="optionsRadios2" value="option2">
      Morbi iaculis vel leo id tempor.

      <span class="form-block__helper" data-toggle="tooltip" data-placement="bottom"
          title="Morbi iaculis vel leo id tempor.">
        <span class="icon-question-mark-circle"></span>
      </span>
    </label>
    <label>
      <input type="radio" name="optionsRadios" id="optionsRadios3" value="option3">
      Duis quis magna semper, egestas mi euismod, dapibus ex.

      <span class="form-block__helper" data-toggle="tooltip" data-placement="bottom"
          title="Morbi iaculis vel leo id tempor.">
        <span class="icon-question-mark-circle"></span>
      </span>
    </label>
  </div>
</form>
