<div class="form-block">
  <div class="range-slider js-range-slider"
      data-options="{'output':{'prefix':'$'},'maxSymbol':'+'}">
    <input type="range" name="range-1" value="0" min="0" max="1000" step="1">
    <input type="range" name="range-2" value="1000" min="0" max="1000" step="1">
  </div>

  <div class="row-narrow">
    <div class="col-xs-6">
      <input type="number" class="form-control" value="0" placeholder="0"
        min="0" max="1000">
    </div>
    <div class="col-xs-6">
      <input type="number" class="form-control" value="1000" placeholder="1000"
        min="0" max="1000">
    </div>
  </div>
</div>
