// Test
html,
body {
  font-size: $baseline-grid; // Define font-size in pixels once to set initial value.
}

.styleguide {
  h1 {
    color: $gray-dark;
    font-weight: 700;
    margin: 0 0 $baseline-grid * 2;
  }

  .styleguide__heading {
    background: $brand-corporate url("https://dj4i04i24axgu.cloudfront.net/normandia/statics/logos/logo-garbarino-blanco.svg") $baseline-grid 50% no-repeat;
    color: $text-inverse;
    font-weight: 700;
    height: $header-height;
    line-height: $line-height-sm;
    margin: 0;
    padding: $baseline-grid;
    position: relative;
    text-align: right;
    text-transform: uppercase;

    // Media query for tablet/desktop
    @media only screen and (min-width: $screen-sm-min) {
      left: 0;
      position: fixed;
      right: 0;
      top: 0;
      z-index: $zindex-navbar;
    }
  }

}

.styleguide__nav {
  background: $nav-bg;
  padding-top: $baseline-grid * 2;

  // Media query for tablet/desktop
  @media only screen and (min-width: $screen-sm-min) {
    bottom: 0;
    height: 100%;
    left: 0;
    padding-top: $header-height;
    position: fixed;
    top: 0;
  }
}

.styleguide-header {
  background-color: $gray-medium;
  border-radius: $border-radius-base;
  padding: 1rem;

  &,
  h1,
  a {
    color: $nav-bg;
  }

  h1 {
    margin: 0;
    text-transform: uppercase;
  }

  p {
    margin-bottom: .25rem;
  }
}

.styleguide-components {
  // Media query for tablet/desktop
  @media only screen and (min-width: $screen-sm-min) {
    padding-left: 2rem;
    padding-top: 2rem + $header-height;
  }
}

.styleguide__list {
  list-style-type: none;
  margin: 0;
}

.styleguide__nav-link {
  border-left: px-to-rem(4px) solid transparent;
  color: $gray-base;
  display: block;
  font-weight: 700;
  margin-left: -1rem;
  margin-right: -1rem;
  outline: 0;
  padding: 1rem;
  text-decoration: none;

  &:hover {
    background: $gray-lighter;
  }

  &:focus {
    outline: 0;
  }

  .styleguide__nav-item.is-selected > & {
    background: $gray-lighter;
    border-color: $brand-corporate;
  }
}
