<div class="button--action {{modifier_class}}">
  <h3 class="card__title">Título del Card</h3>
  <div class="card__content">
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc interdum,
      tortor sit amet rutrum elementum, diam augue varius lacus, ac cursus orci
      massa sed ligula. Nulla facilisi. Vivamus eget ligula at tellus lobortis
      vulputate. Nulla ex est, gravida non egestas vel, lacinia vitae felis.
      Pellentesque erat tellus, suscipit eu sollicitudin vel, fermentum ac turpis.
      Etiam tincidunt felis a felis blandit, pulvinar malesuada lorem faucibus.
      Nulla vitae nisi et diam dictum euismod.</p>
  </div>
</div>
