<div class="value-container {{modifier_class}}" itemprop="offers"
    itemscope itemtype="http://schema.org/Offer">
  <span class="value-note">
    Precio en 1 pago.
  </span>

  <meta itemprop="priceCurrency" content={this.props.currency}>
  <span class="value-item">
    $<span itemprop={this.props.itempropItem}>
      119.99
    </span>
  </span>

  <link href="http://schema.org/InStock" itemprop="inStock">
</div>
