<p>
  <span class="{{modifier_class}}å" aria-label="nteger id tortor malesuada,
      tincidunt metus eget, finibus nisl.">
    nteger id tortor malesuada, tincidunt metus eget, finibus nisl
  </span>
</p>
