<div class="alert {{modifier_class}} fade in" role="alert">
  {{content}}

  <button type="button" class="button--action button--action--sm"
      data-dismiss="alert" aria-label="Close">
    <span class="icon-cross" aria-hidden="true"></span>
  </button>
</div>
