// Icon common definitions

@mixin icon-element($size, $display: block) {
  display: $display;
  font-family: $font-family-icon !important;
  font-size: $size;
  font-style: normal;
  font-weight: 400;
  line-height: 1;
  speak: none;
}
