// Css Arrow Generator mixin
@mixin make-css-arrow($width, $height, $color, $arrowdirection) {
  @include make-pseudo-element;
  border: solid transparent;
  height: 0;
  position: absolute;
  width: 0;

  @if $arrowdirection == "top" {
    border-bottom-color: $color;
    border-width: 0 ($width/2) $height;
    left: 50%;
    margin-left: -($width/2);
    top: -$height;
  }

  @if $arrowdirection == "right" {
    border-left-color: $color;
    border-width: ($width/2) $height;
    margin-top: -$height;
    right: -$width;
    top: 50%;
  }

  @if $arrowdirection == "bottom" {
    border-top-color: $color;
    border-width: $height ($width/2) 0;
    bottom: -$height;
    left: 50%;
    margin-left: -($width/2);
  }

  @if $arrowdirection == "left" {
    border-right-color: $color;
    border-width: ($width/2) $height;
    left: -$width;
    margin-top: -$height;
    top: 50%;
  }
}
