<div class="carousel {{modifier_class}}">
  <a href="#0" title="Lorem ipsum dolor sit amet, consectetur adipiscing elit.">
    <img src="http://lorempixel.com/g/1024/224/sports/1"
      alt="Lorem ipsum dolor sit amet, consectetur adipiscing elit.">
  </a>
  <a href="#0" title="Lorem ipsum dolor sit amet, consectetur adipiscing elit.">
    <img src="http://lorempixel.com/g/1024/224/nightlife/2"
      alt="Lorem ipsum dolor sit amet, consectetur adipiscing elit.">
  </a>
  <a href="#0" title="Lorem ipsum dolor sit amet, consectetur adipiscing elit.">
    <img src="http://lorempixel.com/g/1024/224/technics/3"
      alt="Lorem ipsum dolor sit amet, consectetur adipiscing elit.">
  </a>
  <a href="#0" title="Lorem ipsum dolor sit amet, consectetur adipiscing elit.">
    <img src="http://lorempixel.com/g/1024/224/abstract/4"
      alt="Lorem ipsum dolor sit amet, consectetur adipiscing elit.">
  </a>
</div>
