<style>
  .carousel-item {
    width: 9.5rem;
  }
</style>

<div class="carousel-shelf {{modifier_class}}" itemprop="offers">
  <div class="carousel-item">
    <div class="img-container">
      <img itemprop="image" src="http://lorempixel.com/400/200/"
        alt="Lorem ipsum dolor sit amet, consectetur adipiscing elit." />
    </div>
  </div>
  <div class="carousel-item">
    <div class="img-container">
      <img itemprop="image" src="http://lorempixel.com/230/230/"
        alt="Lorem ipsum dolor sit amet, consectetur adipiscing elit." />
    </div>
  </div>
  <div class="carousel-item">
    <div class="img-container">
      <img itemprop="image" src="http://lorempixel.com/300/300/"
        alt="Lorem ipsum dolor sit amet, consectetur adipiscing elit." />
    </div>
  </div>
  <div class="carousel-item">
    <div class="img-container">
      <img itemprop="image" src="http://lorempixel.com/400/200/"
        alt="Lorem ipsum dolor sit amet, consectetur adipiscing elit." />
    </div>
  </div>
  <div class="carousel-item">
    <div class="img-container">
      <img itemprop="image" src="http://lorempixel.com/230/230/"
        alt="Lorem ipsum dolor sit amet, consectetur adipiscing elit." />
    </div>
  </div>
  <div class="carousel-item">
    <div class="img-container">
      <img itemprop="image" src="http://lorempixel.com/300/300/"
        alt="Lorem ipsum dolor sit amet, consectetur adipiscing elit." />
    </div>
  </div>
</div>
