<div class="carousel-shelf {{modifier_class}}" itemprop="offers">
  {{#each .}}
    <div class="carousel-item">
      {{> itemBox}}
    </div>
  {{/each}}
  {{#if full_list}}
    <div class="carousel-item">
      <a href="{{full_list.url}}" class="cell-list-item">
        <span class="cell-list-item__body">
          + {{full_list.value}}
        </span>
      </a>
    </div>
  {{/if}}
</div>
