<div class="carousel {{modifier_class}}" itemprop="offers">
  <div class="img-container">
    <img itemprop="image" src="http://lorempixel.com/400/200/"
      alt="Lorem ipsum dolor sit amet, consectetur adipiscing elit." />
  </div>
  <div class="img-container">
    <img itemprop="image" src="http://lorempixel.com/230/230/"
      alt="Lorem ipsum dolor sit amet, consectetur adipiscing elit." />
  </div>
  <div class="img-container">
    <img itemprop="image" src="http://lorempixel.com/300/300/"
      alt="Lorem ipsum dolor sit amet, consectetur adipiscing elit." />
  </div>
  <div class="img-container">
    <img itemprop="image" src="http://lorempixel.com/400/200/"
      alt="Lorem ipsum dolor sit amet, consectetur adipiscing elit." />
  </div>
  <div class="img-container">
    <img itemprop="image" src="http://lorempixel.com/230/230/"
      alt="Lorem ipsum dolor sit amet, consectetur adipiscing elit." />
  </div>
  <div class="img-container">
    <img itemprop="image" src="http://lorempixel.com/300/300/"
      alt="Lorem ipsum dolor sit amet, consectetur adipiscing elit." />
  </div>
</div>
