<div class="carousel-shelf {{modifier_class}}" itemprop="offers">
  {{#each .}}
    {{> itemBox}}
  {{/each}}
  {{!-- {{#if see_all}} --}}
    <div class="carousel-item">
      <a href="#0" class="cell-list-item">
        <span class="cell-list-item__body">
          + {{see_all.value}}
        </span>
      </a>
    </div>
  {{!-- {{/if}} --}}
</div>
