<div class="carousel-shelf {{modifier_class}}" itemprop="offers">
  <div class="carousel-item">
    <div class="item-box">
      <a href="/url/de/producto/" title="Título de producto">
        {{!-- Elemento contenedor de imagenes --}}
        <div class="img-container">
          {{!-- Esta imágen está puesta solamente como demostración. --}}
          <img itemprop="image" src="http://lorempixel.com/800/600/sports/"
            alt="Lorem ipsum dolor sit amet, consectetur adipiscing elit." />
        </div>

        <h3 class="item-box__title">
          Morbi hendrerit faucibus diam, nec hendrerit purus mattis vitae
        </h3>

        {{!-- Elemento de precio --}}
        <div class="value-container" itemprop="offers" itemscope
            itemtype="http://schema.org/Offer">
          <span class="value-note">
            <del>$7.999</del>
            <span class="label label--main" title="Interdum et malesuada fames">
              23% off
            </span>
          </span>
          <meta itemprop="priceCurrency" content="ARS">
          <span class="value-item">
            $<span itemprop={this.props.itempropItem}>
              7.199
            </span>
          </span>
          <link href="http://schema.org/InStock" itemprop="inStock">
        </div>
      </a>
    </div>
  </div>
  <div class="carousel-item">
    <div class="item-box">
      <a href="/url/de/producto/" title="Título de producto">
        {{!-- Elemento contenedor de imagenes --}}
        <div class="img-container">
          {{!-- Esta imágen está puesta solamente como demostración. --}}
          <img itemprop="image" src="http://lorempixel.com/800/600/sports/"
            alt="Lorem ipsum dolor sit amet, consectetur adipiscing elit." />
        </div>

        <h3 class="item-box__title">
          Morbi hendrerit faucibus diam, nec hendrerit purus mattis vitae
        </h3>

        {{!-- Elemento de precio --}}
        <div class="value-container" itemprop="offers" itemscope
            itemtype="http://schema.org/Offer">
          <span class="value-note">
            <del>$7.999</del>
            <span class="label label--main" title="Interdum et malesuada fames">
              23% off
            </span>
          </span>
          <meta itemprop="priceCurrency" content="ARS">
          <span class="value-item">
            $<span itemprop={this.props.itempropItem}>
              7.199
            </span>
          </span>
          <link href="http://schema.org/InStock" itemprop="inStock">
        </div>
      </a>
    </div>
  </div>
  <div class="carousel-item">
    <div class="item-box">
      <a href="/url/de/producto/" title="Título de producto">
        {{!-- Elemento contenedor de imagenes --}}
        <div class="img-container">
          {{!-- Esta imágen está puesta solamente como demostración. --}}
          <img itemprop="image" src="http://lorempixel.com/800/600/sports/"
            alt="Lorem ipsum dolor sit amet, consectetur adipiscing elit." />
        </div>

        <h3 class="item-box__title">
          Morbi hendrerit faucibus diam, nec hendrerit purus mattis vitae
        </h3>

        {{!-- Elemento de precio --}}
        <div class="value-container" itemprop="offers" itemscope
            itemtype="http://schema.org/Offer">
          <span class="value-note">
            <del>$7.999</del>
            <span class="label label--main" title="Interdum et malesuada fames">
              23% off
            </span>
          </span>
          <meta itemprop="priceCurrency" content="ARS">
          <span class="value-item">
            $<span itemprop={this.props.itempropItem}>
              7.199
            </span>
          </span>
          <link href="http://schema.org/InStock" itemprop="inStock">
        </div>
      </a>
    </div>
  </div>
  <div class="carousel-item">
    <div class="item-box">
      <a href="/url/de/producto/" title="Título de producto">
        {{!-- Elemento contenedor de imagenes --}}
        <div class="img-container">
          {{!-- Esta imágen está puesta solamente como demostración. --}}
          <img itemprop="image" src="http://lorempixel.com/800/600/sports/"
            alt="Lorem ipsum dolor sit amet, consectetur adipiscing elit." />
        </div>

        <h3 class="item-box__title">
          Morbi hendrerit faucibus diam, nec hendrerit purus mattis vitae
        </h3>

        {{!-- Elemento de precio --}}
        <div class="value-container" itemprop="offers" itemscope
            itemtype="http://schema.org/Offer">
          <span class="value-note">
            <del>$7.999</del>
            <span class="label label--main" title="Interdum et malesuada fames">
              23% off
            </span>
          </span>
          <meta itemprop="priceCurrency" content="ARS">
          <span class="value-item">
            $<span itemprop={this.props.itempropItem}>
              7.199
            </span>
          </span>
          <link href="http://schema.org/InStock" itemprop="inStock">
        </div>
      </a>
    </div>
  </div>
  <div class="carousel-item">
    <div class="item-box">
      <a href="/url/de/producto/" title="Título de producto">
        {{!-- Elemento contenedor de imagenes --}}
        <div class="img-container">
          {{!-- Esta imágen está puesta solamente como demostración. --}}
          <img itemprop="image" src="http://lorempixel.com/800/600/sports/"
            alt="Lorem ipsum dolor sit amet, consectetur adipiscing elit." />
        </div>

        <h3 class="item-box__title">
          Morbi hendrerit faucibus diam, nec hendrerit purus mattis vitae
        </h3>

        {{!-- Elemento de precio --}}
        <div class="value-container" itemprop="offers" itemscope
            itemtype="http://schema.org/Offer">
          <span class="value-note">
            <del>$7.999</del>
            <span class="label label--main" title="Interdum et malesuada fames">
              23% off
            </span>
          </span>
          <meta itemprop="priceCurrency" content="ARS">
          <span class="value-item">
            $<span itemprop={this.props.itempropItem}>
              7.199
            </span>
          </span>
          <link href="http://schema.org/InStock" itemprop="inStock">
        </div>
      </a>
    </div>
  </div>
  <div class="carousel-item">
    <div class="item-box">
      <a href="/url/de/producto/" title="Título de producto">
        {{!-- Elemento contenedor de imagenes --}}
        <div class="img-container">
          {{!-- Esta imágen está puesta solamente como demostración. --}}
          <img itemprop="image" src="http://lorempixel.com/800/600/sports/"
            alt="Lorem ipsum dolor sit amet, consectetur adipiscing elit." />
        </div>

        <h3 class="item-box__title">
          Morbi hendrerit faucibus diam, nec hendrerit purus mattis vitae
        </h3>

        {{!-- Elemento de precio --}}
        <div class="value-container" itemprop="offers" itemscope
            itemtype="http://schema.org/Offer">
          <span class="value-note">
            <del>$7.999</del>
            <span class="label label--main" title="Interdum et malesuada fames">
              23% off
            </span>
          </span>
          <meta itemprop="priceCurrency" content="ARS">
          <span class="value-item">
            $<span itemprop={this.props.itempropItem}>
              7.199
            </span>
          </span>
          <link href="http://schema.org/InStock" itemprop="inStock">
        </div>
      </a>
    </div>
  </div>
  <div class="carousel-item">
    <div class="item-box">
      <a href="/url/de/producto/" title="Título de producto">
        {{!-- Elemento contenedor de imagenes --}}
        <div class="img-container">
          {{!-- Esta imágen está puesta solamente como demostración. --}}
          <img itemprop="image" src="http://lorempixel.com/800/600/sports/"
            alt="Lorem ipsum dolor sit amet, consectetur adipiscing elit." />
        </div>

        <h3 class="item-box__title">
          Morbi hendrerit faucibus diam, nec hendrerit purus mattis vitae
        </h3>

        {{!-- Elemento de precio --}}
        <div class="value-container" itemprop="offers" itemscope
            itemtype="http://schema.org/Offer">
          <span class="value-note">
            <del>$7.999</del>
            <span class="label label--main" title="Interdum et malesuada fames">
              23% off
            </span>
          </span>
          <meta itemprop="priceCurrency" content="ARS">
          <span class="value-item">
            $<span itemprop={this.props.itempropItem}>
              7.199
            </span>
          </span>
          <link href="http://schema.org/InStock" itemprop="inStock">
        </div>
      </a>
    </div>
  </div>
  <div class="carousel-item">
    <div class="item-box">
      <a href="/url/de/producto/" title="Título de producto">
        {{!-- Elemento contenedor de imagenes --}}
        <div class="img-container">
          {{!-- Esta imágen está puesta solamente como demostración. --}}
          <img itemprop="image" src="http://lorempixel.com/800/600/sports/"
            alt="Lorem ipsum dolor sit amet, consectetur adipiscing elit." />
        </div>

        <h3 class="item-box__title">
          Morbi hendrerit faucibus diam, nec hendrerit purus mattis vitae
        </h3>

        {{!-- Elemento de precio --}}
        <div class="value-container" itemprop="offers" itemscope
            itemtype="http://schema.org/Offer">
          <span class="value-note">
            <del>$7.999</del>
            <span class="label label--main" title="Interdum et malesuada fames">
              23% off
            </span>
          </span>
          <meta itemprop="priceCurrency" content="ARS">
          <span class="value-item">
            $<span itemprop={this.props.itempropItem}>
              7.199
            </span>
          </span>
          <link href="http://schema.org/InStock" itemprop="inStock">
        </div>
      </a>
    </div>
  </div>
  <div class="carousel-item">
    <div class="item-box">
      <a href="/url/de/producto/" title="Título de producto">
        {{!-- Elemento contenedor de imagenes --}}
        <div class="img-container">
          {{!-- Esta imágen está puesta solamente como demostración. --}}
          <img itemprop="image" src="http://lorempixel.com/800/600/sports/"
            alt="Lorem ipsum dolor sit amet, consectetur adipiscing elit." />
        </div>

        <h3 class="item-box__title">
          Morbi hendrerit faucibus diam, nec hendrerit purus mattis vitae
        </h3>

        {{!-- Elemento de precio --}}
        <div class="value-container" itemprop="offers" itemscope
            itemtype="http://schema.org/Offer">
          <span class="value-note">
            <del>$7.999</del>
            <span class="label label--main" title="Interdum et malesuada fames">
              23% off
            </span>
          </span>
          <meta itemprop="priceCurrency" content="ARS">
          <span class="value-item">
            $<span itemprop={this.props.itempropItem}>
              7.199
            </span>
          </span>
          <link href="http://schema.org/InStock" itemprop="inStock">
        </div>
      </a>
    </div>
  </div>
</div>
