$gb-icon-directions: "\e951";
$gb-icon-swap-vertical: "\e952";
$gb-icon-walk: "\e900";
$gb-icon-transit: "\e901";
$gb-icon-transportation: "\e902";
$gb-icon-arrow-left: "\ea40";
$gb-icon-bag: "\e903";
$gb-icon-bag2: "\e94c";
$gb-icon-bank: "\e904";
$gb-icon-calendar: "\e905";
$gb-icon-card: "\e906";
$gb-icon-cart: "\e907";
$gb-icon-cash: "\e94b";
$gb-icon-checkmark: "\e908";
$gb-icon-checkmark-filled-circle: "\e909";
$gb-icon-clock: "\e90a";
$gb-icon-close: "\e5cd";
$gb-icon-cross: "\e90b";
$gb-icon-cross-circle: "\e90c";
$gb-icon-dashboard: "\e90d";
$gb-icon-dialog: "\e90e";
$gb-icon-double-thin-arrow-botom: "\e90f";
$gb-icon-double-thin-arrow-left: "\e910";
$gb-icon-double-thin-arrow-right: "\e911";
$gb-icon-double-thin-arrow-top: "\e912";
$gb-icon-download: "\e913";
$gb-icon-email: "\e914";
$gb-icon-exclamation-mark-circle: "\e915";
$gb-icon-exclamation-mark-triangle: "\e916";
$gb-icon-facebook: "\e917";
$gb-icon-filled-arrow-bottom: "\e918";
$gb-icon-filled-arrow-left: "\e919";
$gb-icon-filled-arrow-right: "\e91a";
$gb-icon-filled-arrow-top: "\e91b";
$gb-icon-filter: "\e91c";
$gb-icon-fire: "\e91d";
$gb-icon-gallery-view: "\e91e";
$gb-icon-games: "\e91f";
$gb-icon-garbarino-viajes: "\e920";
$gb-icon-gift: "\e921";
$gb-icon-gplus: "\e922";
$gb-icon-heart: "\e923";
$gb-icon-home: "\e924";
$gb-icon-info: "\e925";
$gb-icon-instagram: "\e926";
$gb-icon-key: "\e927";
$gb-icon-list-view: "\e928";
$gb-icon-marker: "\e929";
$gb-icon-menu-hamburguer: "\e92a";
$gb-icon-music: "\e92b";
$gb-icon-notifications: "\e92c";
$gb-icon-pencil: "\e92d";
$gb-icon-percent-star: "\e92e";
$gb-icon-phone: "\e92f";
$gb-icon-photos: "\e930";
$gb-icon-plane: "\e931";
$gb-icon-play: "\e932";
$gb-icon-preferences: "\e933";
$gb-icon-question-mark-circle: "\e934";
$gb-icon-search: "\e935";
$gb-icon-shipping: "\e936";
$gb-icon-shipping-2: "\e94a";
$gb-icon-shop: "\e937";
$gb-icon-simple-bold-arrow-bottom: "\e938";
$gb-icon-simple-bold-arrow-left: "\e939";
$gb-icon-simple-bold-arrow-right: "\e93a";
$gb-icon-simple-bold-arrow-top: "\e93b";
$gb-icon-simple-thin-arrow-bottom: "\e93c";
$gb-icon-simple-thin-arrow-left: "\e93d";
$gb-icon-simple-thin-arrow-right: "\e93e";
$gb-icon-simple-thin-arrow-top: "\e93f";
$gb-icon-sort: "\e940";
$gb-icon-star: "\e941";
$gb-icon-star-half-left: "\e942";
$gb-icon-star-half-right: "\e943";
$gb-icon-tag: "\e944";
$gb-icon-trash: "\e945";
$gb-icon-trash2: "\e94d";
$gb-icon-twitter: "\e946";
$gb-icon-two-card: "\e949";
$gb-icon-user: "\e947";
$gb-icon-users: "\e948";
$gb-icon-video: "\e94e";
$gb-icon-whatsapp: "\e94f";
$gb-icon-youtube: "\e950";

