<button type="button" class="button button--sm" data-toggle="tooltip"
    data-placement="top" title="Tooltip arriba">
  Tooltip arriba
</button>

<button type="button" class="button button--sm" data-toggle="tooltip"
    data-placement="left" title="Tooltip a la izquierda">
  Tooltip a la izquierda
</button>

<button type="button" class="button button--sm" data-toggle="tooltip"
   data-placement="bottom" title="Tooltip abajo">
  Tooltip abajo
</button>

<button type="button" class="button button--sm" data-toggle="tooltip"
   data-placement="right" title="Tooltip a la derecha">
  Tooltip a la derecha
</button>
