<ul class="list-grid">
  <li class="list-grid-item">
    <span class="list-grid-item__body">
      Cras justo odio
    </span>
  </li>
  <li class="list-grid-item">
    <span class="list-grid-item__body">
      Dapibus ac facilisis in
    </span>
  </li>
  <li class="list-grid-item">
    <span class="list-grid-item__body">
      Morbi leo risus
    </span>
  </li>
  <li class="list-grid-item">
    <span class="list-grid-item__body">
      Porta ac consectetur ac
    </span>
  </li>
  <li class="list-grid-item">
    <span class="list-grid-item__body">
      Porta ac consectetur ac
    </span>
  </li>
</ul>
