<div class="list-grid">
  <a href="#0" class="list-grid-item">
    <span class="list-grid-item__body">
      Lorem ipsum dolor sit amet
    </span>
  </a>
  <a href="#0" class="list-grid-item">
    <span class="list-grid-item__body">
      Nullam dapibus luctus eros eu porta
    </span>
  </a>
  <a href="#0" class="list-grid-item">
    <span class="list-grid-item__body">
      Mauris non est purus
    </span>
  </a>
  <a href="#0" class="list-grid-item">
    <span class="list-grid-item__body">
       Aliquam vel congue nibh
    </span>
  </a>
</div>
