<div class="list-grid">
  <a href="#0" class="list-grid-item">
    <span class="list-grid-item__body">
      <span class="icon-email"></span>
      Morbi quis mi
    </span>
  </a>
  <a href="#0" class="list-grid-item">
    <span class="list-grid-item__body">
      <span class="icon-garbarino-viajes"></span>
      Vivamus efficitur
    </span>
  </a>
  <a href="#0" class="list-grid-item">
    <span class="list-grid-item__body">
      <span class="icon-gift"></span>
      Quisque quis
    </span>
  </a>
  <a href="#0" class="list-grid-item">
    <span class="list-grid-item__body">
      <span class="icon-gift"></span>
      Nullam facilisis
    </span>
  </a>
</div>
