<div class="list-grid">
  <label class="list-grid-item">
    <input type="checkbox" id="" value="">
    <span class="list-grid-item__body">

      <span class="icon-email"></span>
      Morbi quis mi
    </span>
  </label>
  <label class="list-grid-item">
    <input type="checkbox" id="" value="">
    <span class="list-grid-item__body">

      <span class="icon-garbarino-viajes"></span>
      spanus efficitur
    </label>
  </label>
  <label class="list-grid-item">
    <input type="checkbox" id="" value="">
    <span class="list-grid-item__body">

      <span class="icon-gift"></span>
      Spanue quis
    </label>
  </label>
  <label class="list-grid-item">
    <input type="checkbox" id="" value="">
    <span class="list-grid-item__body">

      <span class="icon-gift"></span>
      spanm facilisis
    </label>
  </label>
</div>
