<div class="list-grid">
  <div class="list-grid-item">
    <div class="list-grid-item__body">
      <span class="icon-email"></span>
      <p>Morbi quis mi purus. Maecenas vitae lacus tempor, molestie orci eget.</p>
    </div>
    <a href="#0" class="button">
      Ultricies
    </a>
  </div>
  <div class="list-grid-item">
    <div class="list-grid-item__body">
      <span class="icon-garbarino-viajes"></span>
      <p>Vivamus efficitur ut diam ut dictum. Nullam facilisis viverra lacus.</p>
    </div>
  </div>
  <div class="list-grid-item">
    <div class="list-grid-item__body">
      <span class="icon-gift"></span>
      <p>Quisque quis tortor ut diam ultrices pulvinar sed quis sapien.</p>
    </div>
  </div>
</div>
