<div class="media">
  <div class="media-left">
    <a href="#">
      <img class="media-object" src="http://lorempixel.com/180/180/sports/"
        alt="Fusce turpis est, sollicitudin sit amet massa at, ornare iaculis velit.">
    </a>
  </div>
  <div class="media-body">
    Fusce turpis est, sollicitudin sit amet massa at, ornare iaculis velit.
  </div>
</div>
