// Labels

@mixin label-variant($background, $color) {
  $hover-background: state-hover-modifier($background);
  $focus-background: state-focus-modifier($background);

  background-color: darken($background, 7.5%);
  color: $color;

  &[href] {
    &:focus,
    &.focus {
      background-color: $focus-background;
    }

    &:hover {
      background-color: $hover-background;
      color: $color;
    }
  }
}
