// Spinner variants

// Define base animation for spinner
@include keyframes(spinner-rotation) {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(359deg);
  }
}

// Spinner generator mixin
@mixin add-spinner($size, $spinner-width, $spinner-color-inactive,
    $spinner-color-active) {
  @include prefixer(
    animation, spinner-rotation .8s infinite linear, webkit ms moz spec);
  border-bottom: $spinner-width solid $spinner-color-active;
  border-left: $spinner-width solid $spinner-color-inactive;
  border-right: $spinner-width solid $spinner-color-active;
  border-top: $spinner-width solid $spinner-color-active;
  border-radius: 50%;
  height: $size;
  vertical-align: middle;
  width: $size;
}

// Add spinner to button variant
@mixin add-spinner-variant-to-button($size,
    $border-width: $btn-spinner-border-width) {
  border-width: $border-width;
  height: $size;
  width: $size;
}
