// Tooltip

// TODO (ecalvi): We should consider migrating some properties contained here
// to a $direction related when other uses arise. Also having a tooltip that
// makes use of pseudo elements may cause conflicts with other components that
// also make use of them, such as the loading state of the buttons component.

@mixin element-has-tooltip(
  $width, $background, $color, $padding, $direction, $arrowSize) {
  position: relative;

  //Tooltip text container
  &::before {
    @include ellipsis;
    background-color: $background;
    border-radius: $border-radius-base;
    color: $color;
    content: attr(aria-label); // Extracts text from aria-label of the element
    display: block;
    font-family: $font-family-base;
    font-size: $font-size-sm;
    font-weight: 400;
    height: $tooltip-height;
    left: 50%;
    line-height: $base-line-height;
    margin-left: ($width / 2) * -1;
    max-width: initial;
    padding: $padding;
    position: absolute;
    text-transform: none;
    top: ($arrowSize + $tooltip-height) * -1;
    transition: all .5s ease;
    width: $width;
  }

  //Setting up the transition
  &::before,
  &::after {
    @include prefixer(
    transition, (
      opacity $btn-transition-timing ease-in
    ), webkit ms moz spec);
    opacity: 0;
    pointer-events: none;
    text-align: center;
  }

  //Trigger transition on hover
  &:hover {
    &::before,
    &::after {
      opacity: $tooltip-opacity;
    }
  }

  //Tooltip arrow
  @if $direction == "top" {
    &::after {
      @include make-css-arrow($arrowSize, $arrowSize / 2, $background, bottom);
      bottom: initial;
      top: $arrowSize * -1;
    }
  }
}
