/// Remove the unit of a length
/// @param {Number} $number - Number to remove unit from
/// @return {Number} - Unitless number
// Color modifier
@mixin value-variant($noteFontSize, $itemFontSize,
    $valueLineHeight: $value-line-height-base) {

  line-height: $valueLineHeight;

  > .value-note {
    font-size: $noteFontSize;
  }

  > .value-item {
    font-size: $itemFontSize;
  }
}
