// Color modifier
@mixin value-variant($noteFontSize, $itemFontSize,
    $valueLineHeight: $value-line-height-base, $valueTextAlign: $value-text-align) {

  line-height: $valueLineHeight;
  text-align: $valueTextAlign;

  > .value-note {
    font-size: $noteFontSize;
  }

  > .value-item {
    font-size: $itemFontSize;
  }
}
