<div class="feedback {{modifier_class}}" role="alert">
  {{content}}

  <button type="button" class="button--action button--action--sm"
      data-dismiss="alert" aria-label="Close">
    <span class="icon-cross"></span>
  </button>
</div>
