<style>
  .placeholder-class img {
    max-width: 100%;
  }
</style>

<div class="placeholder-class {{modifier_class}}">
  <img src="./kss-assets/images/component-placeholder.jpg" alt="Component placeholder">
</div>
