<span class="label {{modifier_class}}" title="Interdum et malesuada fames">
  Interdum et malesuada fames.
</span>
<a class="label {{modifier_class}}" href="#0" title="Interdum et malesuada fames">
  Interdum et malesuada fames.
</a>
