<button class="button--action {{modifier_class}}" type="button">
  <i className="icon"></i>
  Action
</button>
<a class="button--action {{modifier_class}}" href="#0" role="button">
  <i className="icon"></i>
  Action
</a>
