{{!-- Este position está puesto acá para mostrar el componente nada más. En los
      estilos originales el bloque de las sugerencias tiene position:absolute --}}
<style>
  .search-box__list {
    position: static;
  }
</style>

<form class="search-box">
  <input type="text" class="form-control" placeholder="Ingresá un término de búsqueda">
  <ul class="search-box__list {{modifier_class}}">
    <li>
      <a href="#0" class="search-box__list--item">
        <strong>Fusce fringilla</strong> (laoreet pharetra)
      </a>
    </li>
    <li>
      <a href="#0" class="search-box__list--item">
        <strong>Quisque ipsum sapien</strong> (dapibus ut purus in)
      </a>
    </li>
    <li>
      <h3 class="search-box__list--heading">
        Duis eget nisi ac urna facilisis pharetra quis eget odio.
      </h3>
    </li>
    <li>
      <a href="#0" class="search-box__list--item search-box__list--item__is-disabled">
        <strong>Donec mattis sapien</strong> (a magna lacinia)
      </a>
    </li>
    <li>
      <h3 class="search-box__list--heading">
        In eu fringilla arcu.
      </h3>
    </li>
    <li>
      <a href="#0" class="search-box__list--item">
        <strong>Nunc bibendum</strong> (viverra tempus)
      </a>
    </li>
    <li>
      <a href="#0" class="search-box__list--item">
        <strong>Suspendisse semper ultricies leo</strong> (at ultricies nulla tristique ut)
      </a>
    </li>
    <li>
      <a href="#0" class="search-box__list--item">
        <strong>Suspendisse potenti</strong> (Vivamus venenatis malesuada dui sed viverra)
      </a>
    </li>
    <li>
      <a href="#0" class="search-box__list--item">
        <strong>Nullam vitae</strong> (lectus mi)
      </a>
    </li>
  </ul>
</form>
