@font-face {
    font-family: 'gb-font';
    src:    url('../fonts/gb-font.eot');
    src:    url('../fonts/gb-font.eot#iefix') format('embedded-opentype'),
        url('../fonts/gb-font.ttf') format('truetype'),
        url('../fonts/gb-font.woff') format('woff'),
        url('../fonts/gb-font.svg#gb-font') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="gb-icon-"], [class*=" gb-icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'gb-font' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.gb-icon-directions {
  &:before {
    content: $gb-icon-directions;
  }
}
.gb-icon-swap-vertical {
  &:before {
    content: $gb-icon-swap-vertical;
  }
}
.gb-icon-walk {
  &:before {
    content: $gb-icon-walk;
  }
}
.gb-icon-transit {
  &:before {
    content: $gb-icon-transit;
  }
}
.gb-icon-transportation {
  &:before {
    content: $gb-icon-transportation;
  }
}
.gb-icon-arrow-left {
  &:before {
    content: $gb-icon-arrow-left;
  }
}
.gb-icon-bag {
  &:before {
    content: $gb-icon-bag;
  }
}
.gb-icon-bag2 {
  &:before {
    content: $gb-icon-bag2;
  }
}
.gb-icon-bank {
  &:before {
    content: $gb-icon-bank;
  }
}
.gb-icon-calendar {
  &:before {
    content: $gb-icon-calendar;
  }
}
.gb-icon-card {
  &:before {
    content: $gb-icon-card;
  }
}
.gb-icon-cart {
  &:before {
    content: $gb-icon-cart;
  }
}
.gb-icon-cash {
  &:before {
    content: $gb-icon-cash;
  }
}
.gb-icon-checkmark {
  &:before {
    content: $gb-icon-checkmark;
  }
}
.gb-icon-checkmark-filled-circle {
  &:before {
    content: $gb-icon-checkmark-filled-circle;
  }
}
.gb-icon-clock {
  &:before {
    content: $gb-icon-clock;
  }
}
.gb-icon-close {
  &:before {
    content: $gb-icon-close;
  }
}
.gb-icon-cross {
  &:before {
    content: $gb-icon-cross;
  }
}
.gb-icon-cross-circle {
  &:before {
    content: $gb-icon-cross-circle;
  }
}
.gb-icon-dashboard {
  &:before {
    content: $gb-icon-dashboard;
  }
}
.gb-icon-dialog {
  &:before {
    content: $gb-icon-dialog;
  }
}
.gb-icon-double-thin-arrow-botom {
  &:before {
    content: $gb-icon-double-thin-arrow-botom;
  }
}
.gb-icon-double-thin-arrow-left {
  &:before {
    content: $gb-icon-double-thin-arrow-left;
  }
}
.gb-icon-double-thin-arrow-right {
  &:before {
    content: $gb-icon-double-thin-arrow-right;
  }
}
.gb-icon-double-thin-arrow-top {
  &:before {
    content: $gb-icon-double-thin-arrow-top;
  }
}
.gb-icon-download {
  &:before {
    content: $gb-icon-download;
  }
}
.gb-icon-email {
  &:before {
    content: $gb-icon-email;
  }
}
.gb-icon-exclamation-mark-circle {
  &:before {
    content: $gb-icon-exclamation-mark-circle;
  }
}
.gb-icon-exclamation-mark-triangle {
  &:before {
    content: $gb-icon-exclamation-mark-triangle;
  }
}
.gb-icon-facebook {
  &:before {
    content: $gb-icon-facebook;
  }
}
.gb-icon-filled-arrow-bottom {
  &:before {
    content: $gb-icon-filled-arrow-bottom;
  }
}
.gb-icon-filled-arrow-left {
  &:before {
    content: $gb-icon-filled-arrow-left;
  }
}
.gb-icon-filled-arrow-right {
  &:before {
    content: $gb-icon-filled-arrow-right;
  }
}
.gb-icon-filled-arrow-top {
  &:before {
    content: $gb-icon-filled-arrow-top;
  }
}
.gb-icon-filter {
  &:before {
    content: $gb-icon-filter;
  }
}
.gb-icon-fire {
  &:before {
    content: $gb-icon-fire;
  }
}
.gb-icon-gallery-view {
  &:before {
    content: $gb-icon-gallery-view;
  }
}
.gb-icon-games {
  &:before {
    content: $gb-icon-games;
  }
}
.gb-icon-garbarino-viajes {
  &:before {
    content: $gb-icon-garbarino-viajes;
  }
}
.gb-icon-gift {
  &:before {
    content: $gb-icon-gift;
  }
}
.gb-icon-gplus {
  &:before {
    content: $gb-icon-gplus;
  }
}
.gb-icon-heart {
  &:before {
    content: $gb-icon-heart;
  }
}
.gb-icon-home {
  &:before {
    content: $gb-icon-home;
  }
}
.gb-icon-info {
  &:before {
    content: $gb-icon-info;
  }
}
.gb-icon-instagram {
  &:before {
    content: $gb-icon-instagram;
  }
}
.gb-icon-key {
  &:before {
    content: $gb-icon-key;
  }
}
.gb-icon-list-view {
  &:before {
    content: $gb-icon-list-view;
  }
}
.gb-icon-marker {
  &:before {
    content: $gb-icon-marker;
  }
}
.gb-icon-menu-hamburguer {
  &:before {
    content: $gb-icon-menu-hamburguer;
  }
}
.gb-icon-music {
  &:before {
    content: $gb-icon-music;
  }
}
.gb-icon-notifications {
  &:before {
    content: $gb-icon-notifications;
  }
}
.gb-icon-pencil {
  &:before {
    content: $gb-icon-pencil;
  }
}
.gb-icon-percent-star {
  &:before {
    content: $gb-icon-percent-star;
  }
}
.gb-icon-phone {
  &:before {
    content: $gb-icon-phone;
  }
}
.gb-icon-photos {
  &:before {
    content: $gb-icon-photos;
  }
}
.gb-icon-plane {
  &:before {
    content: $gb-icon-plane;
  }
}
.gb-icon-play {
  &:before {
    content: $gb-icon-play;
  }
}
.gb-icon-preferences {
  &:before {
    content: $gb-icon-preferences;
  }
}
.gb-icon-question-mark-circle {
  &:before {
    content: $gb-icon-question-mark-circle;
  }
}
.gb-icon-search {
  &:before {
    content: $gb-icon-search;
  }
}
.gb-icon-shipping {
  &:before {
    content: $gb-icon-shipping;
  }
}
.gb-icon-shipping-2 {
  &:before {
    content: $gb-icon-shipping-2;
  }
}
.gb-icon-shop {
  &:before {
    content: $gb-icon-shop;
  }
}
.gb-icon-simple-bold-arrow-bottom {
  &:before {
    content: $gb-icon-simple-bold-arrow-bottom;
  }
}
.gb-icon-simple-bold-arrow-left {
  &:before {
    content: $gb-icon-simple-bold-arrow-left;
  }
}
.gb-icon-simple-bold-arrow-right {
  &:before {
    content: $gb-icon-simple-bold-arrow-right;
  }
}
.gb-icon-simple-bold-arrow-top {
  &:before {
    content: $gb-icon-simple-bold-arrow-top;
  }
}
.gb-icon-simple-thin-arrow-bottom {
  &:before {
    content: $gb-icon-simple-thin-arrow-bottom;
  }
}
.gb-icon-simple-thin-arrow-left {
  &:before {
    content: $gb-icon-simple-thin-arrow-left;
  }
}
.gb-icon-simple-thin-arrow-right {
  &:before {
    content: $gb-icon-simple-thin-arrow-right;
  }
}
.gb-icon-simple-thin-arrow-top {
  &:before {
    content: $gb-icon-simple-thin-arrow-top;
  }
}
.gb-icon-sort {
  &:before {
    content: $gb-icon-sort;
  }
}
.gb-icon-star {
  &:before {
    content: $gb-icon-star;
  }
}
.gb-icon-star-half-left {
  &:before {
    content: $gb-icon-star-half-left;
  }
}
.gb-icon-star-half-right {
  &:before {
    content: $gb-icon-star-half-right;
  }
}
.gb-icon-tag {
  &:before {
    content: $gb-icon-tag;
  }
}
.gb-icon-trash {
  &:before {
    content: $gb-icon-trash;
  }
}
.gb-icon-trash2 {
  &:before {
    content: $gb-icon-trash2;
  }
}
.gb-icon-twitter {
  &:before {
    content: $gb-icon-twitter;
  }
}
.gb-icon-two-card {
  &:before {
    content: $gb-icon-two-card;
  }
}
.gb-icon-user {
  &:before {
    content: $gb-icon-user;
  }
}
.gb-icon-users {
  &:before {
    content: $gb-icon-users;
  }
}
.gb-icon-video {
  &:before {
    content: $gb-icon-video;
  }
}
.gb-icon-whatsapp {
  &:before {
    content: $gb-icon-whatsapp;
  }
}
.gb-icon-youtube {
  &:before {
    content: $gb-icon-youtube;
  }
}
