@font-face {
    font-family: 'gb-font';
    src:    url('https://s3.amazonaws.com/garbarino-fe/normandia/fonts/icons/gb-font.eot?c042sa');
    src:    url('https://s3.amazonaws.com/garbarino-fe/normandia/fonts/icons/gb-font.eot?c042sa#iefix') format('embedded-opentype'),
        url('https://s3.amazonaws.com/garbarino-fe/normandia/fonts/icons/gb-font.ttf?c042sa') format('truetype'),
        url('https://s3.amazonaws.com/garbarino-fe/normandia/fonts/icons/gb-font.woff?c042sa') format('woff'),
        url('https://s3.amazonaws.com/garbarino-fe/normandia/fonts/icons/gb-font.svg?c042sa#gb-font') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="gb-icon-"], [class*=" gb-icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'gb-font' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.gb-icon-bank:before {
    content: "\e900";
}
.gb-icon-card:before {
    content: "\e901";
}
.gb-icon-cart:before {
    content: "\e902";
}
.gb-icon-checkmark:before {
    content: "\e903";
}
.gb-icon-checkmark-filled-circle:before {
    content: "\e904";
}
.gb-icon-cross:before {
    content: "\e905";
}
.gb-icon-cross-circle:before {
    content: "\e906";
}
.gb-icon-double-thin-arrow-botom:before {
    content: "\e907";
}
.gb-icon-double-thin-arrow-left:before {
    content: "\e908";
}
.gb-icon-double-thin-arrow-right:before {
    content: "\e909";
}
.gb-icon-double-thin-arrow-top:before {
    content: "\e90a";
}
.gb-icon-exclamation-mark-circle:before {
    content: "\e90b";
}
.gb-icon-exclamation-mark-triangle:before {
    content: "\e90c";
}
.gb-icon-facebook:before {
    content: "\e90d";
}
.gb-icon-filled-arrow-bottom:before {
    content: "\e90e";
}
.gb-icon-filled-arrow-left:before {
    content: "\e90f";
}
.gb-icon-filled-arrow-right:before {
    content: "\e910";
}
.gb-icon-filled-arrow-top:before {
    content: "\e911";
}
.gb-icon-fire:before {
    content: "\e912";
}
.gb-icon-gallery-view:before {
    content: "\e913";
}
.gb-icon-games:before {
    content: "\e914";
}
.gb-icon-gplus:before {
    content: "\e915";
}
.gb-icon-heart:before {
    content: "\e916";
}
.gb-icon-info:before {
    content: "\e917";
}
.gb-icon-instagram:before {
    content: "\e918";
}
.gb-icon-list-view:before {
    content: "\e919";
}
.gb-icon-marker:before {
    content: "\e91a";
}
.gb-icon-menu-hamburguer:before {
    content: "\e91b";
}
.gb-icon-music:before {
    content: "\e91c";
}
.gb-icon-percent-star:before {
    content: "\e91d";
}
.gb-icon-phone:before {
    content: "\e91e";
}
.gb-icon-photos:before {
    content: "\e91f";
}
.gb-icon-play:before {
    content: "\e920";
}
.gb-icon-question-mark-circle:before {
    content: "\e921";
}
.gb-icon-search:before {
    content: "\e922";
}
.gb-icon-shipping:before {
    content: "\e923";
}
.gb-icon-shop:before {
    content: "\e924";
}
.gb-icon-simple-bold-arrow-bottom:before {
    content: "\e925";
}
.gb-icon-simple-bold-arrow-left:before {
    content: "\e926";
}
.gb-icon-simple-bold-arrow-right:before {
    content: "\e927";
}
.gb-icon-simple-bold-arrow-top:before {
    content: "\e928";
}
.gb-icon-simple-thin-arrow-bottom:before {
    content: "\e929";
}
.gb-icon-simple-thin-arrow-left:before {
    content: "\e92a";
}
.gb-icon-simple-thin-arrow-right:before {
    content: "\e92b";
}
.gb-icon-simple-thin-arrow-top:before {
    content: "\e92c";
}
.gb-icon-trash:before {
    content: "\e92d";
}
.gb-icon-twitter:before {
    content: "\e92e";
}
.gb-icon-user:before {
    content: "\e92f";
}
.gb-icon-users:before {
    content: "\e930";
}
.gb-icon-video:before {
    content: "\e931";
}
.gb-icon-youtube:before {
    content: "\e932";
}