//
// Icon list variables
// --------------------------------------------------

$icon-close: "\e5cd";
$icon-bag: "\e900";
$icon-bank: "\e901";
$icon-calendar: "\e902";
$icon-card: "\e903";
$icon-cart: "\e904";
$icon-checkmark: "\e905";
$icon-checkmark-circle: "\e906";
$icon-clock: "\e907";
$icon-cross: "\e908";
$icon-cross-circle: "\e909";
$icon-dashboard: "\e90a";
$icon-dialog: "\e90b";
$icon-double-thin-arrow-botom: "\e90c";
$icon-double-thin-arrow-left: "\e90d";
$icon-double-thin-arrow-right: "\e90e";
$icon-double-thin-arrow-top: "\e90f";
$icon-download: "\e910";
$icon-email: "\e911";
$icon-exclamation-mark-circle: "\e912";
$icon-exclamation-mark-triangle: "\e913";
$icon-facebook: "\e914";
$icon-filled-arrow-bottom: "\e915";
$icon-filled-arrow-left: "\e916";
$icon-filled-arrow-right: "\e917";
$icon-filled-arrow-top: "\e918";
$icon-filter: "\e919";
$icon-fire: "\e91a";
$icon-gallery-view: "\e91b";
$icon-games: "\e91c";
$icon-garbarino-viajes: "\e91d";
$icon-gift: "\e91e";
$icon-gplus: "\e91f";
$icon-heart: "\e920";
$icon-home: "\e921";
$icon-info-circle: "\e922";
$icon-instagram: "\e923";
$icon-key: "\e924";
$icon-list-view: "\e925";
$icon-marker: "\e926";
$icon-menu-hamburguer: "\e927";
$icon-music: "\e928";
$icon-notifications: "\e929";
$icon-pencil: "\e92a";
$icon-percent-star: "\e92b";
$icon-phone: "\e92c";
$icon-photos: "\e92d";
$icon-plane: "\e92e";
$icon-play: "\e92f";
$icon-preferences: "\e930";
$icon-question-mark-circle: "\e931";
$icon-search: "\e932";
$icon-shipping: "\e933";
$icon-shop: "\e934";
$icon-simple-bold-arrow-bottom: "\e935";
$icon-simple-bold-arrow-left: "\e936";
$icon-simple-bold-arrow-right: "\e937";
$icon-simple-bold-arrow-top: "\e938";
$icon-simple-thin-arrow-bottom: "\e939";
$icon-simple-thin-arrow-left: "\e93a";
$icon-simple-thin-arrow-right: "\e93b";
$icon-simple-thin-arrow-top: "\e93c";
$icon-sort: "\e93d";
$icon-star: "\e93e";
$icon-star-half-left: "\e93f";
$icon-star-half-right: "\e940";
$icon-tag: "\e941";
$icon-trash: "\e942";
$icon-twitter: "\e943";
$icon-user: "\e944";
$icon-users: "\e945";
$icon-video: "\e946";
$icon-whatsapp: "\e947";
$icon-youtube: "\e948";
$icon-two-card: "\e949";
$icon-shipping-2: "\e94a";
$icon-cash: "\e94b";
$icon-bag2: "\e94c";
$icon-trash2: "\e94d";
$icon-arrow-left: "\ea40";

