{{!-- Ejemplo con 4 ítems --}}
<ul class="cell-list">
  <li class="cell-list-item">
    <span class="cell-list-item__body">
      Cras justo odio
    </span>
  </li>
  <li class="cell-list-item">
    <span class="cell-list-item__body">
      Dapibus ac facilisis in
    </span>
  </li>
  <li class="cell-list-item">
    <span class="cell-list-item__body">
      Morbi leo risus
    </span>
  </li>
  <li class="cell-list-item">
    <span class="cell-list-item__body">
      Porta ac consectetur ac
    </span>
  </li>
</ul>

{{!-- Ejemplo con 3 ítems --}}
<ul class="cell-list">
  <li class="cell-list-item">
    <span class="cell-list-item__body">
      Donec tincidunt
    </span>
  </li>
  <li class="cell-list-item">
    <span class="cell-list-item__body">
      Dapibus ac facilisis in
    </span>
  </li>
  <li class="cell-list-item">
    <span class="cell-list-item__body">
      Suspendisse potenti
    </span>
  </li>
</ul>

{{!-- Ejemplo con 2 ítems --}}
<ul class="cell-list">
  <li class="cell-list-item">
    <span class="cell-list-item__body">
      Pellentesque id efficitur lorem
    </span>
  </li>
  <li class="cell-list-item">
    <span class="cell-list-item__body">
      Curabitur quis felis velit
    </span>
  </li>
</ul>

