<div class="row" style="background-color: red">
  <div class="col-md-4" style="background-color: yellow">.col-md-4</div>
  <div class="col-md-4" style="background-color: yellow">.col-md-4</div>
  <div class="col-md-4" style="background-color: yellow">.col-md-4</div>
</div>
