{{!-- La clase .grid-display no es necesaria para la hacer funcionar la grilla,
      Está usada acá para pintar un fondo que permita distinguir el contenido del
      padding.  --}}

<div class="row-narrow grid-display">
  <div class="col-sm-4"></div>
  <div class="col-sm-4"></div>
  <div class="col-sm-4"></div>
</div>

<div class="row-narrow grid-display">
  <div class="col-sm-3"></div>
  <div class="col-sm-7"></div>
  <div class="col-sm-2"></div>
</div>

<div class="row-narrow grid-display">
  <div class="col-sm-2"></div>
  <div class="col-sm-2"></div>
  <div class="col-sm-2"></div>
  <div class="col-sm-2"></div>
  <div class="col-sm-2"></div>
  <div class="col-sm-2"></div>
</div>
