//
// Action buttons
// --------------------------------------------------

.button--action {
  @include button-size($btn-action-padding-x, $btn-action-size, $btn-action-font-size);
  @include text-hide;
  background-color: $btn-action-bg;
  background-image: none;
  border: 1px solid transparent;
  border-radius: $border-radius-base;
  box-shadow: 0 0 0 0 transparent;
  color: $btn-action-color;
  cursor: pointer;
  display: inline-block;
  font-weight: $btn-font-weight;
  margin-bottom: 0;
  position: relative;
  text-align: center;
  text-transform: $btn-text-transform;
  touch-action: manipulation;
  user-select: none;
  vertical-align: middle;
  white-space: nowrap;

  &:hover {
    background-color: $btn-action-hover-bg;
  }

  // Hover and focus styles
  &:focus,
  &.focus {
    background-color: $btn-action-bg;
    outline: 0;
  }

  > i::before {
    @include icon-element($btn-action-font-size);
    width: $btn-action-font-size;
  }

  // Add horizontal spacing for adjacent elements
  + #{&} {
    margin-left: $spacer-sm;
  }
}

// Action animation

// TODO(ecalvi): The next mixin is not working for some reason. Calling
// animation without prefixes but we should check this out later.
//
// @include keyframes(action-active) {
//   from {
//     background-position: left;
//   }
//
//   to {
//     background-position: right;
//   }
// }

// Animation without prefixes:
@keyframes action-active {
  from {
    background-position: left;
  }

  to {
    background-position: right;
  }
}


// Primary action
// TODO(ecalvi): We should extend this class so it can be also used for other actions.

.button--action__primary {
  color: $btn-action-primary;

  @include button-action-variant($btn-action-primary, $icon-trash);
}

// Fav item action
.button--action__fav {
  @include button-action-variant($brand-fav, $icon-fav);

  // trigger animation on focus
  &:focus > i {
    @include prefixer(
      animation, action-active .8s steps(28) 1, webkit ms moz spec);
    background-image: url(#{$images-url}animation--fav.png);
    background-position: left;
    background-repeat: no-repeat;
    background-size: 2900%;
    display: block;
    height: $btn-action-font-size * 2.5;
    margin: $btn-action-font-size * -1.25  ($btn-action-font-size / 2) * -1.5;
    width: $btn-action-font-size * 2.5;

    &::before {
      content: initial;
    }
  }
}

// Fav item action
.button--action__default {
  @include button-action-variant($brand-default, $icon-default);
}

// Share on facebook action
.button--action__facebook {
  @include button-action-variant($brand-facebook, $icon-facebook);
}

// Share on twitter action
.button--action__twitter {
  @include button-action-variant($brand-twitter, $icon-twitter);
}

