{{!-- Ejemplo de navbar usado en un <ul>, también se puede usar presciendiendo
      del <ul> contenedor, usando sólo <a>'s o <button>'s sueltos en todas las
      variantes, salvo .navbar__justified que necesita un <ul> contenedor para
      funcionar sí o sí.  --}}

<ul class="navbar navbar__with-icons {{modifier_class}}">
  <li role="presentation">
    <a href="#0" role="button" class="active">
      <span class="icon-home" aria-hidden="true"></span>
      Home
    </a>
  </li>
  <li role="presentation">
    <a href="#0" role="button">
      <span class="icon-user" aria-hidden="true"></span>
      Profile
    </a>
  </li>
  <li role="presentation">
    <a href="#0" role="button">
      <span class="icon-preferences" aria-hidden="true"></span>
      Settings
    </a>
  </li>
  <li role="presentation">
    <a href="#0" role="button" class="button__is-disabled">
      <span class="icon-email" aria-hidden="true"></span>
      Messages
    </a>
  </li>
</ul>
