{{!-- Ejemplo de navbar usado en un <ul> --}}
<ul class="navbar {{modifier_class}}">
  <li role="presentation">
    <a href="#0" role="button" class="active">Home</a>
  </li>
  <li role="presentation">
    <a href="#0" role="button">Profile</a>
  </li>
  <li role="presentation">
    <a href="#0" role="button">Settings</a>
  </li>
  <li role="presentation">
    <a href="#0" role="button" class="button__is-disabled">Messages</a>
  </li>
</ul>

{{!-- Ejemplo de navbar en un <nav> sin <ul> --}}
<nav class="navbar {{modifier_class}}">
  <button role="button" class="active">Home</button>
  <button role="button">Profile</button>
  <button role="button">Settings</button>
  <button role="button" class="button__is-disabled">Messages</button>
</nav>
