<ul class="navbar">
  <li role="presentation">
    <button role="button" class="active">Home</button>
  </li>
  <li role="presentation">
    <button role="button">Profile</button>
  </li>
  <li role="presentation">
    <button role="button">Settings</button>
  </li>
  <li role="presentation">
    <button role="button" class="button__is-disabled">Messages</button>
  </li>
</ul>
