//
// Tags
// --------------------------------------------------

.label {
  @include ellipsis;
  border: 1px solid $label-border;
  border-radius: $border-radius-base;
  font-size: $label-font-size;
  font-weight: $label-font-weight;
  line-height: $label-line-height;
  padding: $label-padding-y $label-padding-x;
  text-align: center;
  text-transform: uppercase;
  vertical-align: middle;

  // Empty badges collapse automatically
  &:empty {
    display: none;
  }

  // Add horizontal spacing for adjacent elements
  + #{&} {
    margin-left: $spacer-sm;
  }
}

// Color modifiers
// Make this default
.label,
.label--default,
.label--primary {
  @include label-variant($label-primary-bg, $label-primary-color);
}

.label--main {
  @include label-variant($label-main-bg, $label-main-color);
}
